.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.about-container {
    border: 1px solid white;
}

.about h1 {
    text-align: left;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 40%;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.a-image {
    width: 20em;
    cursor: pointer;
    position: relative;
    margin-right: 5rem;
    box-shadow: 7px 5px 5px black;
}

.a-image img {
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
}

.proj-icons {
    display: flex;
    flex-direction: row;
}

.proj-icon {
    font-size: 3rem;
    margin: 1rem;
}








