@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap');



.navbar {
    background-color: #112240;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    color: seashell;
    height: 60px;
    position: fixed;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#logo {
    color: var(--prime);
    font-size: 1.5rem;
}

.link {
    position: relative;
    width:100%;
    display: block;
    text-align: center;
    transition: color 0.4s ease;
}

.link:hover {
    cursor: pointer;
    color: var(--prime);

}

.link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0%;
    bottom: 0%;
    background-color: var(--prime);
    transition: width 0.2s ease-in;
  }

.link:hover::before,
.link:focus::before {
      width: 100%;
}
