:root {
    --prime: #CC5500;
  }

.navbar {
    background-image: linear-gradient(to right, #112240 , #17366b);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    color: seashell;
    height: 60px;
    position: fixed;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    z-index: 2;
}

#logo {
    color: var(--prime);
    font-size: 1.5rem;
    cursor: pointer;
}

#link {
    position: relative;
    width:100%;
    display: block;
    text-align: center;
    transition: color 0.4s ease;;
}

#link:hover {
    cursor: pointer;
    color: var(--prime);
    display: flex;
    align-items: center;
}

#link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0%;
    background-color: var(--prime);
    transition: width 0.2s ease-in;
  }

#link:hover::before,
#link:focus::before {
      width: 100%;
}
