.projects {
    background-color: #0a192f;
    color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 90vh;
}

.proj-arrow-left {
    position: absolute;
    left: 100px;
    top: 40%;
    height: 150px;
}

.proj-arrow-right {
    position: absolute;
    right: 100px;
    top: 40%;
    height: 150px;
}

.proj-arrow-left:hover {
    cursor: pointer;
}

.proj-arrow-right:hover {
    cursor: pointer;
}


.projects h1 {
    text-align: left;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.slider {
    position: absolute;
    display: flex;
    height: 90%;
    left: 0;
    top: 10%;
    transition: all 1s ease-in-out;
}

.item-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 50%;
    height: 60%;
    background-color: #071121;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
} 


.item .left {
    flex: 4;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.project-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-icons img {
    height: 40px;
}

.item .right {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 85%;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.right img:hover {
    width: 90%;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .item {
        width: 50%;
        height: 100%;
        background-color: #071121;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        flex-direction: column-reverse;
        transition: opacity 0.2s ease-in-out;
    }
    .item .left {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
    }

    .item .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 
